{% macro post_list(posts) %}
  <div class="posts">
      {% for post in posts | sort(attribute="date") | reverse %}
      <div class="post">
          <h2>
              <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
          </h2>
          <em class="date">
              {{ post.date | date(format="%d %b %Y") }}
          </em>
          <p class="summary">
              {{ post.extra.summary | safe }}
          </p>
      </div>
      {% endfor %}
  </div>
{% endmacro post_list %}
