{% set site_sections = [ "posts", "demos", "about" ] %}
{% set site_titles = [ "Articles", "Portfolio", "About" ] %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Loop Loop Break: {% block title %}{% endblock title %}
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ '/style/main.css' }}">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    </head>
    <body>
        <header>
            {% include "header.html" %}
            {% include "navigation.html" %}
            {% include "bio.html" %}
            {% include "socials.html" %}
        </header>
        {% block content %}{% endblock %}
        <footer>
            {% include "footer.html" %}
        </footer>
    </body>
</html>
