{% extends "main.html" %}
{% block title %}{{page.title}}{% endblock title %}
{% block content %}

<main class="article">
    <article>
        <h1>
            {{ page.title }}
        </h1>
        <div class="date">
            {{ page.date | date(format="%d %b %Y") }}
        </div>
        <p class="summary">
            {{ page.extra.summary | safe }}
        </p>
        <ul class='article-tags'>
        {% set tags = page.taxonomies.tags | sort %}
        {%- for tag in tags -%}
            {%- if tag != "post" -%}
            <li>
                <a class="tag" href="/tags/{{tag | slugify}}">{{tag}}</a>
            </li>
            {%- endif -%}
        {%- endfor -%}
        </ul>
        <div class="content">
            {{ page.content | safe }}
        </div>
        {% include "site-tags.html" %}
    </article>
</main>

{% endblock content %}
